*{
    margin: 0;
    border: 0;
    padding: 0;
}

#imgPrincipal{
    position: relative;
    width: 100%;
}

#navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
}

#navbar ul{
    list-style: none;
    display: flex;  
    justify-content: right;
    margin-right: 6%;
    margin-top: 14%;
}

#navbar li{
    margin: 40px;
}

#navbar a{
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    box-shadow: 10px;
    font-family: 'Poppins', sans-serif;
}

#icon{
    float: right;
}

@media (max-width: 1150px) {
    #navbar ul{
        justify-content: center;
        margin-top: 0;
    }
    #navbar a{
        font-size: 1.5rem;
    }
    #navbar li{
        margin: 15px;
    }
    
}